{
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
    },
    "rules": {
        "no-unused-vars": "error",
        "no-console": "warn",
        "no-undef": "error",
        "func-names": "warn",
        "no-underscore-dangle": ["error", { "allow": ["_id"] }]
    },
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "extends": [ "airbnb-base/legacy" ]
}
